/*------------POSITIONING------------*/
html {
	overflow: -moz-scrollbars-vertical;
	overflow: scroll;
	height: 100%;
}

body {
	height: 100%;
	color: #331970;
	background-color: #F4F6F7;
}

* html #container {
	height: 100%;
}

#container {

}

#mainVideo {
    background-color: transparent;
    position: relative;
}
#vimeoFrame, #controlLayer {
    position: absolute;
    top: 0;
    left: 0;
}

#videoHover {
    background-color: white;
    height: 10px;
    left: 10px;
    position: fixed;
    top: 10px;
    width: 10px;
    opacity: 0.5;
}

#videoHover:hover {
    opacity: 0.9;
}

#videoHover #videoInfo {
    background-color: white;
    bottom: 100px;
    color: black;
    padding: 6px;
    position: fixed;
}

#videoHover:hover #videoInfo {
    display: block;
}

strong {
    font-weight: bold;
}

#allVideos {
    bottom: 0;
    height: auto;
    position: fixed;
	background-color: #F4F6F7;    
}

#allVideos a {
    background-color: blue;
    display: block;
    float: left;
    margin: 0px;
    height: 24px;
    position: relative;
}

#allVideos a:hover {
   background-color: red; 
}

#allVideos a img.index {
    height: 24px;
}

#allVideos a .rollover {
    display: none;
}

#allVideos a:hover .rollover {
    display: block;
}

.rollover {
    bottom: 31px;
    display: block;
    padding: 12px 6px;
    position: absolute;
    background-color: #fff;   
    text-align: center;
    color: white; 
}

.rollover img {
    
}

.rollover .info {
    left: 9px;
    position: absolute;
    top: 30px;    
}


/*------------END POSITIONING------------*/



/* This space left intentionally blank. */



/*------------COLORS AND BACKGROUND------------*/

/*------------END COLORS------------*/



/* This space left intentionally blank. */



/*------------TYPE------------*/
html,body,textarea,input {
	font-family: "Droid Sans", Verdana, Arial, Helvetica, sans-serif;
	font-size: 8pt;
	line-height: 1.7em;
	letter-spacing: .02em;
}
/*------------END TYPE------------*/



/* This space left intentionally blank. */



/*------------LINK STATES------------*/
a {

}

a:hover {

}
/*------------END LINK STATES------------*/


/* This space left intentionally blank. */


/*------------OVERRIDE------------*/ 
/*------------END OVERRIDE------------*/ 