*.pyc
*~
local_settings.py
.DS_Store

# ignore buildout's workspace stuff:
.installed.cfg
bin/
develop-eggs/
eggs/
parts/

# ignore static files (for now):
doyouconsider/static/

# ignore settings files:
doyouconsider/settings/development.py
!doyouconsider/settings/__init__.py

# ignore uploaded files
doyouconsider/media/uploads

# ignore cache files
tmp
doyouconsider/tmp/