# Minimal Django Buildout
# http://code.google.com/p/django-buildout/
# 

[buildout]
eggs = 
    south
    PIL
    simplejson
parts = django
versions = versions

[versions]
django = 1.4

[django]
recipe = djangorecipe
settings = settings
eggs = ${buildout:eggs}
extra-paths =
project = do-you-consider-yourself-a-candidate-for-space-travel
