#ajaxUploadContainer {
	width: 380px;
	height: 230px;
	padding: 0px;
	margin-bottom: 10px;
	position: relative;
}

#ajaxUploadContainer.complete {
	background-color: #ffdd00;
	border: 1px solid #ffdd00;
}


#ajaxUploadContainer #swf-upload {
	margin:auto;
	display:block;
	text-align:center;
	background-color: #E8EAEA;
}

#ajaxUploadContainer #arrowPlaceholder {
	display: none;
    background: url("../images/upload.png") no-repeat scroll 0 0 transparent;
    height: 140px;
    left: 119px;
    position: absolute;
    top: 0px;
    width: 141px;
}

#ajaxUploadContainer #arrowPlaceholder.progress {
    background: url("../images/upload.png") no-repeat scroll 0 -280px transparent;
}

#ajaxUploadContainer #arrowPlaceholder.complete {
    background: url("../images/upload.png") no-repeat scroll 0 -420px transparent;
}

#ajaxUploadContainer h1#uploadText {
	font-size:38pt;
}
#ajaxUploadContainer #uploadText.progress {
	color:#111;
	font-size:12pt;
	line-height:14pt;
	margin-top:20px;
}
#ajaxUploadContainer #uploadText.complete {
	color:#111;
	font-size:12pt;
	line-height:14pt;
	margin-top:20px;
}

#ajaxUploadContainer .progressBarContainer {
    background-color: #FFFFFF;
    border: 1px solid #111111;
    display: block;
    height: 18px;
    padding: 1px;
    position: absolute;
    top: 60px;
    width: 376px;
}

#ajaxUploadContainer .progressBarContainer .progressBar {
    height: 100%;
    width: 100%;
    background-color: #E8EAEA;	
}

#ajaxUploadContainer .progressBarContainer .progressBar .progress {
    background-color: #111;
    width: 40%;
    height: 100%;	
}
