{% extends request.is_ajax|yesno:"base_ajax.html,base.html" %}

{% block content %}

{% if video %}
<div id="mainVideo">

    {% csrf_token %}

    {% block detail %}
    <iframe id="vimeoFrame" src="http://player.vimeo.com/video/{{ video.code }}?api=1" width="400" height="300" frameborder="0" webkitAllowFullScreen mozallowfullscreen allowFullScreen></iframe>		
    {% endblock %}
    <div id="controlLayer">&nbsp;</div>
    <a id="videoHover" href="/add/">
        <h1>
            DO YOU CONSIDER <br />YOURSELF A CANDIDATE <br />FOR SPACE TRAVEL? <span id="goToUpload">yes</span>
        </h1>
        <div id="videoInfo">
            <p>
                PAGE {{ video.page.number }}: {{ video.author }}
            </p>
        </div>
    </a>
</div>
{% endif %}

{% if video_list %}
<div id="allVideos">
{% for video in video_list %}
    <a class="video" href="/{{ video.id }}/" id="video_{{ video.id }}">
        <img class="index" src="{{ STATIC_URL }}{{ video.thumbnail }}" title="" />
        <div class="rollover">
            <div class="arrow"></div>
            <img class="hover" src="{{ STATIC_URL }}{{ video.thumbnail }}" title="" />
            <div class="info">
                <p>
                    PAGE {{ video.page.number }}
                </p>				
            </div>
        </div>
    </a>
{% endfor %}
</div>
<div class="clear">&nbsp;</div>
{% endif %}

{% endblock %}

